---
title: "About Us"
description:
  "Learn about the team building Synura and some of the reasons we're passionate
  about helping teams with video."
---

<h1>About us</h1>
<p>
  At Synura we're passionate about video. We help companies collaborate on
  streamed and recorded content by orchestrating activities like script writing,
  asset management, transcription, approvals, publishing, and more. Check out
  our
  <a href="/">home page</a> and <a href="/handbook/">public handbook</a> (which
  includes our <a href="/handbook/general/values/">values</a> and
  <a href="/handbook/general/direction/">company direction</a>) for more info.
  We build with open source in mind from the start, and integrate with
  <a href="https://obsproject.com/"
    >Open Broadcaster Software<sup>®️</sup> (OBS)</a
  >, who we also
  <a href="https://opencollective.com/synura">support through OpenCollective</a
  >, as our premier integration for streaming and recording video. Our seed
  investor is <a href="https://opencoreventures.com/">Open Core Ventures</a>,
  who are big believers in the power of an open-source base for all software.
</p>
<h2>The team</h2>
<p>
  Creating with video is built into our DNA. Check our profiles for our
  individual streaming channels where you can collaborate with us in real time
  while we work, or take a look at the
  <a href="https://www.youtube.com/channel/UCMdZDGdS6Ak4PrSw8l0qeJg"
    >company YouTube channel</a
  >
  to see what we've been up to. Interested in coming along on our adventure?
  Check out our
  <a href="https://boards.greenhouse.io/synura">careers page</a> to see open
  positions.
</p>

<div uk-grid>
  <div class="uk-width-1-1">
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
        <div
          class="uk-background-muted uk-padding uk-margin-medium uk-border-rounded"
        >
          <img
            alt="Photo of Jason"
            loading="lazy"
            src="/images/team/jason.yavorska.jpg"
            class="uk-border-rounded"
          />

          <div class="uk-grid-small uk-margin-small-top">
            <h5>Jason Yavorska 🇳🇱<br />Founding Product Manager</h5>
            <p class="uk-text-left uk-text-light uk-text-small">
              Jason has a long history with broadcast media. He grew up in
              radio, spending lots of time in local stations with his DJ dad and
              meeting other professionals in the business. He studied radio
              broadcasting in school, and later worked in the video game
              industry. Helping people realize their creative vision has been a
              lifelong passion of his.
            </p>
            <a href="https://twitter.com/j4yav" uk-icon="icon: twitter"></a>
            <a href="https://gitlab.com/jyavorska" uk-icon="icon: gitlab"></a>
            <a href="https://github.com/jyavorska" uk-icon="icon: github"></a>
            <a
              href="https://linkedin.com/in/jyavorska"
              uk-icon="icon: linkedin"
            ></a>
            <a
              href="https://www.twitch.tv/synurafounder"
              uk-icon="icon: twitch"
            ></a>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-background-light uk-padding uk-light">
          <!--future employee-->
        </div>
      </div>
    </div>
  </div>
</div>
