{{ define "main" }}
<div uk-grid class="handbook-content">
  {{ partial "handbook-nav" . }}
  <div class="uk-width-2-3@m uk-width-1-1@s">{{ .Content }}</div>
</div>
{{ end }} {{ define "scripts" }} {{ $js := resources.Get
"javascript/anchorlinks.js" |minify }}
<script src="{{ $js.RelPermalink }}"></script>
{{ end }}
