html {
  font: 400 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff;
  color: #666;
  background-image: -webkit-radial-gradient(100% 100%, center, #fff, #fff);
  background-image: radial-gradient(100% 100% at center, #fff, #fff);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #222;
  text-transform: none;
  border-bottom: 1px;
}
.uk-navbar-nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.uk-text-large {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}
.uk-text-meta {
  font-weight: 300;
}
body {
  overflow-y: scroll;
}
.uk-dropdown {
  top: 65px !important;
}
.hero-video {
  filter: brightness(35%);
  max-height: 100vh;
}
.hero-wrapper {
  background-color: #333;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.handbook-section .handbook-anchor {
  color: #fff;
}
.handbook-section:hover .handbook-anchor {
  color: #999;
}
#TableOfContents a {
  font-weight: 300;
}
.handbook-content h2 {
  border-bottom: 1px solid rgb(225, 225, 225);
}
.button-brand {
  background-color: #ff4e2d;
  color: white;
}
.button-brand:hover {
  background-color: #e54628;
  color: white;
}
.text-brand {
  color: #ff4e2d !important;
}
.logo-image {
  margin-right: 0.5rem;
}
.logo-text {
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #555;
}
