<div class="uk-container uk-margin-bottom">
  <div class="uk-grid uk-margin-medium-top" data-uk-grid>
    <div class="uk-width-1-2">
      <p class="uk-text-meta">
        Copyright {{ time.Now.Year }} Synura, Inc. All rights reserved. Synura
        is not affiliated with
        <a class="uk-text-primary" href="https://obsproject.com"
          >OBS<sup>®️</sup> Project</a
        >
        or
        <a
          class="uk-text-primary"
          href="https://github.com/obsproject/obs-studio"
          >Open Broadcaster Software</a
        ><sup>®️</sup>. This site uses cookies; click
        <a
          href="#"
          class="uk-text-primary"
          onclick="initCookieConsent().showSettings()"
          >here</a
        >
        to manage your preferences. Read our privacy policy
        <a class="uk-text-primary" href="/handbook/corporate/privacy-policy/"
          >here</a
        >.
      </p>
    </div>
    <div class="uk-width-1-2 uk-text-right">
      <a href="https://gitlab.com/synura"
        ><i
          uk-icon="gitlab"
          title="GitLab"
          class="uk-margin-small-right uk-text-secondary"
        ></i
      ></a>
      <a href="https://twitter.com/SynuraHQ"
        ><i
          uk-icon="twitter"
          title="Twitter"
          class="uk-margin-small-right uk-text-secondary"
        ></i
      ></a>
      <a href="https://www.linkedin.com/company/synura"
        ><i
          uk-icon="linkedin"
          title="LinkedIn"
          class="uk-margin-small-right uk-text-secondary"
        ></i
      ></a>
      <a href="https://www.youtube.com/channel/UCMdZDGdS6Ak4PrSw8l0qeJg"
        ><i
          uk-icon="youtube"
          title="YouTube"
          class="uk-margin-small-right uk-text-secondary"
        ></i
      ></a>
      <a href="https://www.twitch.tv/synurafounder"
        ><i uk-icon="twitch" title="Twitch" class="uk-text-secondary"></i
      ></a>
    </div>
    {{ if eq .Page.Section "search" }} {{ partial "search-index.html" . }} {{
    end }}
  </div>
</div>
